@charset "UTF-8";
body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  background: #FCFCFC 0% 0% no-repeat padding-box;
  color: #3B3B3B;
}

p, h1, h2, ul, figure {
  margin: 0;
  padding: 0;
}

a {
  color: #B2B2B2;
  text-decoration: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-nav, .footer-nav, .footer-copyright, .main-article, .h1-news, .h1-recruit, .h1-contact, .main-home, .main-news, .main-others {
  max-width: 1280px;
  margin: 0 auto;
}

.header-nav {
  padding: 0% 7.5% 0% 7.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 56px;
}

.header-nav__img {
  width: 38px;
  height: 24px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header-nav__menu li {
  display: inline-block;
  margin-right: 56px;
  padding-bottom: 8px;
}

.header-nav__menu li:last-child {
  margin-right: 0;
}

.header-nav .current-page a {
  color: #3B3B3B;
}

.footer-nav {
  padding: 9.37% 17.5% 3.2% 17.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #918F89;
}

.footer-nav__img {
  width: 64px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-nav__menu li {
  display: inline-block;
  margin-right: 32px;
  padding-bottom: 16px;
}

.footer-nav__menu li:last-child {
  margin-right: 0;
}

.footer-nav a {
  font-size: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.footer-copyright {
  padding: 0% 0% 1.87% 0%;
  background: #918F89;
  text-align: center;
  font-size: 11px;
  letter-spacing: 0.44px;
  color: #FFFFFF;
}

.main-article {
  padding-top: 274px;
  background: 0 0/contain url(images/home_top.png) no-repeat padding-box;
}

.h1-home {
  max-width: 47.57812%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 32px 0 32px 88px;
  font-size: 53px;
  line-height: 73px;
  font-weight: normal;
  letter-spacing: 2.65px;
  color: #918F89;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 0.8;
  margin: 0% 0% 32.26% 0%;
}

@media screen and (max-width: 375px) {
  .h1-home span:nth-child(2) {
    color: red;
  }
}

.main-home {
  padding: 0% 6.87% 0% 6.87%;
  margin: 0% 0% 18.75% 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 560px;
}

.home-article {
  max-width: 560px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 240px 0 0 56px;
}

.home-article__heading {
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 2.5px;
  margin: 0% 0% 12.67% 0%;
}

.home-article__paragraph {
  font-size: 12px;
  line-height: 30px;
  letter-spacing: 0.36px;
}

.home-article__paragraph span:nth-child(3), .home-article__paragraph span:nth-child(5) {
  display: block;
}

.home-image {
  max-width: 560px;
  margin: 0 auto;
  background: 0 0/contain url(images/concept.png) no-repeat padding-box;
  width: 100%;
}

.main-news {
  padding: 0 96px;
  margin: 0% 0% 18.75% 0%;
}

.main-news__heading {
  text-align: center;
  font-size: 23px;
  letter-spacing: 2.3px;
  font-weight: normal;
  margin: 0% 0% 3.75% 0%;
}

.main-news__unordered-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding: 0% 0% 3.04% 0%;
}

.main-news__unordered-list figure {
  background-color: #000000;
  position: relative;
}

.main-news__unordered-list img {
  opacity: 0.4;
  vertical-align: middle;
}

.main-news__unordered-list figcaption {
  position: absolute;
  top: 141px;
  left: 41px;
  font-size: 17px;
  letter-spacing: -0.85px;
  color: #FFFFFF;
  text-shadow: 0px 0px 6px #000000E0;
  opacity: 1;
}

.main-news__view-more {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.9px;
  opacity: 0.3;
}

.main-news__view-more:after {
  margin-left: 0.5em;
  content: "›";
}

.main-others {
  padding: 0% 32.1% 0% 32.1%;
  margin: 0% 0% 18.75% 0%;
}

.main-others:nth-child(6) {
  margin: 0% 0% 25% 0%;
}

.main-others .main-others__heading--catalog, .main-others .main-others__heading--contact, .main-others .main-others__heading--recruit {
  text-align: center;
  font-size: 24px;
  letter-spacing: 2.4px;
  font-weight: normal;
  margin: 0% 0% 10.48% 0%;
}

.main-others .main-others__paragraph--catalog, .main-others .main-others__paragraph--recruit {
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.45px;
  padding: 0% 0% 8.73% 0%;
}

.main-others__button--catalog {
  text-align: center;
  background: #D1D1D1;
  border-radius: 40px;
  max-width: 344px;
  margin: 0 auto;
}

.main-others__button--catalog a {
  font-size: 18px;
  line-height: 53px;
  letter-spacing: 1.8px;
  color: #707070;
  display: block;
}

.main-others__form--contact p {
  margin: 0% 0% 5.24% 0%;
}

.main-others__form--contact input, .main-others__form--contact textarea {
  width: 100%;
  border: 1px solid #707070;
  border-radius: 16px;
  opacity: 0.6;
  font-size: 12px;
  letter-spacing: 0.6px;
  color: #3B3B3B;
  opacity: 0.4;
  padding: 10px 16px;
}

.main-others__form--contact textarea {
  height: 200px;
  margin: 0% 0% 8.73% 0%;
}

.main-others__form--contact p:nth-child(4) {
  max-width: 161px;
  margin: 0 auto;
}

.main-others__form--contact p:nth-child(4) input {
  border: none;
  background: #D1D1D1;
  font-size: 14px;
  letter-spacing: 1.4px;
  color: #707070;
  opacity: 1;
}

.main-others__view-more--recruit {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.9px;
  opacity: 0.3;
}

.main-others__view-more--recruit:after {
  margin-left: 0.5em;
  content: "›";
}

table, td, th {
  border: 1px solid #707070;
  border-collapse: collapse;
  border-radius: 4px;
}

td, th {
  padding: 3px;
}

th {
  background: #707070;
}
/*# sourceMappingURL=style.css.map */